body{
  display: grid;
  grid-template-rows: 100px 10fr auto;
  grid-template-columns: 1fr 10fr;
  grid-template-areas:
        " header .....   "
        " nav    contents"
        " footer .....   ";
}
body>*:not(nav){
  display: grid;
  /* place-items: center; <- ↓を纏めた表記法*/
  justify-items: center;
  align-items: center;
}
body>nav{
  display: grid;
  justify-items: center;
}
header{
  grid-area: header;
  grid-column: 1 / -1;
  background-color: #f88;
}
nav{
  grid-area: nav;
  background-color: #88f;
}
main{
  grid-area: contents;
  background-color: #ff8;
  overflow: hidden;
  padding: 10px;
}
aside{
  grid-area: aside;
  background-color: #8f8;
}
footer{
  grid-area: footer;
  background-color: #f8f;
  grid-column: 1 / -1;
}
h2 {
  margin:10px;
  padding: 1rem 2rem;
  border: 3px solid #888;
}
h3{
  margin:6px 6px 6px 25px;
}
b{
  margin: 8px 0;
}
p{
  margin-left: 25px;
}