@charset "utf-8";
html{
	font-size:17px;
}
body{
	width:900px;
	font-family:"Hiragino Kaku Gothic ProN","ÉqÉâÉMÉmäpÉS ProN",Meiryo,"MS PÉSÉVÉbÉN",sans-serif;
	line-height:1.3em;
	background:#FFFFEE;
	line-height:1.7;
	font-weight:500;
}
h1{
	background-color:#1F1E33;
	border:5px double silver;
	padding:12px 10px;
	font-size:2.2em;
	color:white;
}
h2{
	clear:left;
	padding:7px;
	border-left:solid 6px green;
	border-bottom:solid 3px green;
	border-radius:11px;
}
h3{
	margin-left:1em;
	border: 3px groove silver;
	padding:2px 5px;
}
p{
	font-size:17px;
	text-indent:1em;
	text-align:justify;
}
li{
	padding:3px;
}
.name{
	text-align:RIGHT;
}
.induction{
	text-align:CENTER;
}
table{
	border-collapse:collapse;
	text-align:CENTER;
	overflow-x:scroll;
	width:800px;
}
table.table{
	background-color:#FFFF88;
}
th,
td{
	border: 1px solid black;
	padding:8px;
	white-space:nowrap;
}
.table tr:nth-child(odd){
	background:#FFFF60;
}
.table tr:nth-child(even){
	background:#FFFFCF;
}
.title{
	background:#80BA50;
}
.next{
	
}
.note{
	font-size:10px;
	padding-left:1em;
	text-indent:-1em;
}
.link{
	margin-top:100px;
}
strong{
	color:red;
}
b{
	color:royalblue;
}
em{
	color:green;
}
